.container {
    height: 110vh;
    width: auto;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .photoGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  
  .title {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
  }
  
  .eventsText {
    color: #FF4500; 
  }
  
  
  .ph1 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .ph2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .photo {
    width: 17rem;
  }
  
  .viewMoreButton {
    background-color: #FF4500; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .viewMoreButton:hover {
    background-color: #e03d00; 
  }
  
  @media (max-width: 800px) {
    .photo {
      width:10rem;
    }
  }
  
  @media (max-width: 600px) {
    .ph1 {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    .ph2 {
      flex-direction: column;
      gap: 1rem;
    }
    .container {
      height: auto;
      margin: 1rem 0rem;
    }
    .photo {
      width: 15rem;
    }
  }
  
