.galleryContainer {
    text-align: center;
    padding: 20px;
  }
  
  .galleryHeader {
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  
  .red {
    color: orangered; 
  }
  
  .black {
    color: black;
  }
  
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .photo {
    margin: 20px;
    position: relative;
    width: 150px;
    height: 200px;
    display: inline-block;
    border: 2px solid #f1f1f1;
    background: #FEFBB3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    aspect-ratio: 3 / 4;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .photo::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: #000;
  }
  
  .photo:hover,
  .clicked {
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .photo {
      width: 120px;
      height: 160px;
    }
  }
  
  @media (max-width: 480px) {
    .photo {
      width: 230px;
      height: 130px;
    }
  }
  
  @media (max-width: 768px) {
    .photos {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  
  @media (max-width: 480px) {
    .photos {
      flex-direction: column;
      align-items: center;
    }
  }
  

