@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import only the necessary font families and weights */
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* --------------------------------- */

/* Set global font-family defaults */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Heading styles */
h1, h3, h4, b {
  font-family: 'Poppins', sans-serif; /* Ensure Poppins is applied to these elements */
}

h2, span {
  font-family: 'Playfair Display', serif; /* Ensure Playfair Display applies to these elements */
}

h5, h6 {
  font-family: 'Roboto', sans-serif; /* Roboto for h5, h6 */
}

/* Paragraphs, links, list items, and spans */
p, a, li {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

