.Association {
    padding: 15px;
}
.Association h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 18px 0px 100px 0px;
}
.Achievements {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.Association h2 span {
    color: orangered;
}

.NewsBox {
    width: 20%;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 4px 30px #d3d3d3;
    margin-bottom: 4rem;
    min-height: 210px;
    padding-top: 60px;
    transition: .7s;
}

.NewsBox:hover {
    transform: translateY(-10px);
    transition: .7s;
}

.imgo {
    margin-top: -120px;
    margin-left: 50%;
    transform: translate(-50%, 0px);
    border: 20px solid #fff;
    border-radius: 50px;
    transition: .7s;
}



.btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    margin-bottom: 25px;
}
.readbtn {
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    background-color: orangered;
}

.readbtn:hover {
    color: white;
}
.btnbox a{
    text-decoration: none;
    color: black;
}

@media (max-width:900px) and (min-width:600px) {
    .NewsBox{
        width: 43%;
    }
    .Achievements {
        width: 95%;
    }
}
@media (max-width:600px) and (min-width:425px) {
    .NewsBox{
        width: 46%;
    }
    .Achievements {
        width: 95%;
    }
}
@media (max-width:426px) {
    .NewsBox{
        width: 93%;
    }
    .Achievements {
        width: 95%;
    }
    .Association h2 {
        font-size: 25px;
        margin: 18px 0px 70px 0px;
    }
}
