  .container {
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .textcontainer h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
    color: #333;
    font-weight: 600;
  }
  
  .imageWrapper {
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: green;
  }
  
  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .description {
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px ;
  }
  
  .controlButton {
    cursor: pointer;
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  
  
  